{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html class="fouc" lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>
      {% if header.title %}{{ header.title|e('html') }} | {% endif %} {{ site.title|e('html') }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}
    <link rel="shortcut icon"  type="image/x-icon" href="{{ page.find('/images').media['favicon.ico'].url }}?v=2" />
    <link rel="icon" type="image/png" href="{{ page.find('/images').media['favicon.png'].url }}?v=2"/>
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Nunito+Sans:300,400,600,700,800,900" type="text/css" rel="stylesheet" />
    <link href="https://unpkg.com/spectre.css@0.5.3/dist/spectre.min.css" type="text/css" rel="stylesheet" />
    <style>
      .fouc{
        opacity: 0
      }
    </style>
    {% block stylesheets %}
        {# {% do assets.addCss('https://unpkg.com/spectre.css@0.5.3/dist/spectre.min.css', 99) %} #}
        {# {% do assets.addCss('https://fonts.googleapis.com/css?family=Inconsolata|Nunito+Sans:300,400,600,700,800,900', 100) %} #}
        {% do assets.addCss('theme://css/lib.min.css', 98) %}
        {# {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css', 101) %} #}
    {% endblock %}
    {{ assets.css() }}
{% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes }} site-container">
{% block header %}
  <section class="content-padding">
    <section class="top-rectangle"></section>
    <header class="navbar" style="position: relative;">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2 nav-item small-font">
          <object width="132px" height="20px" class="Turing-Talent-Logo" type="image/svg+xml" data="{{ page.find('/images').media['turing-talent-logo.svg'].url }}">
            Your browser does not support SVG
          </object>
         </a>
      </section>
      <section class="dropdown-toggle animated fadeIn show-sm">
        <a id="toggle-menu-icon" title="Menu">
          <span class="line line-1"></span>
          <span class="line line-2"></span>
          <span class="line line-3"></span>
        </a>
      </section>
      <ul class="navbar-section right top ">
        {% include 'partials/navigation.html.twig' %}
      </ul>
    </header>
  </section>
{% endblock %}

{% block body %}
    <section id="body">
        <div>
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer" style="padding: 0px 15px;">
      <div class="navbar" style="padding-top: 30px;">
        <section class="navbar-section">
          <a href="#" class="navbar-brand mr-2 faded-black nav-item small-font">
            <object width="132px" height="20px" class="Turing-Talent-Logo" type="image/svg+xml" data="{{ page.find('/images').media['turing-talent-logo.svg'].url }}">
              Your browser does not support SVG
            </object>
          </a>
        </section>
        <ul class="navbar-section right">
          {% include 'partials/navigation.html.twig' %}
        </ul>
      </div>
    </div>
{% endblock %}

{% block bottom %}
    <script>
      function fadeIn(el, time) {
        el.style.opacity = 0;
        var last = +new Date();
        var tick = function() {
          el.style.opacity = +el.style.opacity + (new Date() - last) / time;
          last = +new Date();
          if (+el.style.opacity < 1) {
            (window.requestAnimationFrame && requestAnimationFrame(tick)) || setTimeout(tick, 16);
          }
        };
        tick();
      }
      fadeIn(document.querySelector(".fouc"), 300);
    </script>
    {% include 'partials/analytics.html.twig' %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
